<h1>hi</h1>
<h1>Email Form</h1>
  <form action="/mail/email_send" method="POST">
    Email: <input type="text" name="email"><br>
    Title: <input type="text" name="subject"><br> 
    Content:<textarea cols="40" rows="5" name="content"> </textarea>
    <input type="submit" value="send">
  </form>

