<h1>Form</h1>
  <form action="/user/email_send"method="POST"> 
    Email :<input type="text" name="email">
    <br>
    Content :
    <textarea name="content"></textarea>
    <input type="submit" value="send">
  </form>
