<script>
    tinymce.init({selector:'textarea'});
</script>
<div id="reply_target"> 
</div>
<form id="reply_form">
  <input type="text" id="text_context">
  <input type="submit" value="send" id="input_send_button"> 
</form> 
